body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #f5f5f5;
    color: #353A3F;
  }


  .main-sect {
    padding: 3% 10% 0;
    color: #5d5d5d;
    text-align: left;
  }

  .contents {
    padding-top: 5rem;
  }
  
  /* NAVBAR */
  
  .navbar {
    padding: 0;
  }

  
  .navbar-brand {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text .navbar-custom .navbar-link{
  color: #4E73DF;
}

  /* SOLDAKİ & BUTONLAR */
 .navbar-butonu {
   margin: auto 0.2rem;
 }

.aktif-buton {
   background-color: #4E73DF;
   border-color: #4E73DF;
   color: #f5f5f5;
 } 

  /* NAVBAR BİTİŞ */


 /* SOL MENÜ */
 .sol-menu {
   text-align: center;
   font-family: "Nunito", serif;
   font-size: larger;
   width: 13.6rem;
   background-color: #f5f5f5;
 }

 .nav-item {
   margin: 0.5rem 0;

 }


/* İÇERİKLER */

.icerik {
  padding: 0.2rem 0 0 8rem ;
}

  
  /* TELEFON İÇİN */
  
  @media (max-width: 768px) {
  
    .navbar-brand {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .main-sect {
      padding: 3% 1%;
    }

    .navbar-header, .bas-link {
      margin: 7px auto;
    }  

    .sol-menu {
      padding-left: 1rem;
      width: 10rem;
    }


    .icerik {
      padding: 0.2rem 0.3rem 0 6rem ;
    }