body {
    text-align: center;
    background-color: #F8F9FA;
  }


  .main-sect {
    padding: 3% 10% 0;
    color: #5d5d5d;
    text-align: left;
  }

  .contents {
    padding-top: 5rem;
  }

  .container, .kartlar {
    padding: 0;
    margin: 0;
  }
  
  /* NAVBAR */
  
  .navbar {
    padding: 0;
  }
  
  .navbar-brand {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text .navbar-custom .navbar-link{
  color: #4E73DF;
}

.dropdown-item {
  font-family: "Nunito Sans", sans-serif;
}

  /* NAVBAR BİTİŞ */


/* İÇERİKLER */

.icerik {
  padding: 0.2rem 0 0 8rem ;
}

.sayfa-basligi {
    font-family: "Nunito Sans";
    font-weight: lighter;
    font-size: x-large;
    padding: 1rem 0 0.5rem 0;
  }

.card-body {
  background-color: #e7e7e7;
  text-align: center;
  font-family: "Nunito Sans";
}

.card-title {
  font-weight: 300;
}

.card-text {
  font-weight: 200;
}
  
  /* TELEFON İÇİN */
  
  @media (max-width: 765px) {
  
    .navbar-brand {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .main-sect {
      padding: 3% 1%;
    }

    .navbar-header, .bas-link {
      margin: 7px auto;
    }  

    .sol-menu {
      padding-left: 1rem;
      width: 10rem;
    }


    .icerik {
      padding: 0.2rem 0.3rem 0 6rem ;
    }