body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.main-sect {
  padding: 2% 10% 0;
  color: #353A3F;
  text-align: left;
}


.container-fluid {
  padding: 0;
}

.contents {
  padding-top: 5rem;
}

.heading-big {
  padding-top: 5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 6rem;
  line-height: 1.2;
}

.landing-img {
  width: 95%;
}

/* NAVBAR */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text .navbar-custom .navbar-link {
  color: #4E73DF;;
}



/* TELEFON İÇİN */

@media (max-width: 800px) {

  .bas-link {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    color: #4E73DF;;
  }

  .landing-left-container {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 4rem 0;
  }

  .navbar-brand {
    font-size: 2.5rem;
  }


  .navbar-header, .bas-link {
    margin: 0 auto;
    display: table;
  }  

  .landing-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .heading-big {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    padding: 2rem 0;
  }


  .main-sect {
    padding: 3% 1%;
  }