body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #f5f5f5;
}

.main-sect {
  padding: 1% 10%;
  background-color: ##f5f5f5;
  color: #364f6b;
  text-align: left;
}

.heading-big {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 1;
}

.heading-uygun {
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
}

.landing-img {
  width: 110%;
}

/* NAVBAR */
.navbar {
  padding: 1rem 0 4.5rem;
}

.navbar-brand {
  font-family: "Quicksand";
  font-size: 2.5rem;
  font-weight: bold;
}

/* LİNKLER ARASI BOŞLUK */
.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
}


.fa-bars {
  color: #528dfe;
  font-size: 2rem;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text .navbar-custom .navbar-link {
  color: #528dfe;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #f6416c;
}

/* TELEFON İÇİN */

@media (max-width: 800px) {
  .nav-link {
    font-size: 2rem;
  }

  .navbar-brand {
    font-size: 2.5rem;
  }

  .landing-img {
    width: 100%;
  }

  .heading-big {
    font-weight: bolder;
    font-size: 2.5rem;
    line-height: 1;
  }

  .heading-uygun {
    font-size: 1rem;
  }

  .main-sect {
      padding: 1% 1%;
    }
}